<div class="form-card">

    <div class="field">
        <label>Email</label>

        <input type="email" placeholder="Digite seu email" [formField]="authForm.email" [class.invalid]="
                    authForm.email().touched() &&
                    authForm.email().invalid()
                " />

        @if (
        authForm.email().touched() &&
        authForm.email().errors().length
        ) {
        <div class="errors">
            @for (
            error of authForm.email().errors();
            track error
            ) {
            <span>{{ error.message }}</span>
            }
        </div>
        }
    </div>

    <div class="field">
        <label>Senha</label>

        <input type="password" placeholder="Digite sua senha" [formField]="authForm.password" [class.invalid]="
                        authForm.password().touched() &&
                        authForm.password().invalid()
                 " />

        @if (
        authForm.password().touched() &&
        authForm.password().errors().length
        ) {
        <div class="errors">
            @for (
            error of authForm.password().errors();
            track error
            ) {
            <span>{{ error.message }}</span>
            }
        </div>
        }
    </div>

    <button class="submit-button" [disabled]="!canSubmit() || loading()" (click)="onSubmit()">

        @if (loading()) {
        Entrando...
        } @else {
        Entrar
        }

    </button>

    @if (submitError()) {

    <div class="error-message">
        {{ submitError() }}
    </div>
    }
</div>