$color-primary-dark: #181c27;
$color-primary: #f25c05;
$color-white: #ffffff;
$color-black: #000000;

$color-surface: #202534;
$color-surface-light: #2a3145;
$color-border: #343c54;
$color-text-muted: #b5b8c5;
$color-success: #22c55e;
$color-danger: #ef4444;
$color-warning: #f59e0b;
