$font-heading: "Bebas Neue", sans-serif;
$font-body: "Montserrat", sans-serif;

$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 2rem;
$font-size-2xl: 3rem;
